In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
hp21 = pd.read_csv('data/world-happiness-report-2021.csv')
hp20 = pd.read_csv('data/2020.csv')
hp19 = pd.read_csv('data/2019.csv')
hp18 = pd.read_csv('data/2018.csv')
hp17 = pd.read_csv('data/2017.csv')
hp16 = pd.read_csv('data/2016.csv')
hp15 = pd.read_csv('data/2015.csv')

### Region 속성 이용하기
#### Region 속성을 가지고 있는 데이터 셋
- 2021, 2020, 2016, 2015
- Unique() 를 통해 값이 일치하는 지 확인

In [3]:
hp20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 20 columns):
Country name                                  153 non-null object
Regional indicator                            153 non-null object
Ladder score                                  153 non-null float64
Standard error of ladder score                153 non-null float64
upperwhisker                                  153 non-null float64
lowerwhisker                                  153 non-null float64
Logged GDP per capita                         153 non-null float64
Social support                                153 non-null float64
Healthy life expectancy                       153 non-null float64
Freedom to make life choices                  153 non-null float64
Generosity                                    153 non-null float64
Perceptions of corruption                     153 non-null float64
Ladder score in Dystopia                      153 non-null float64
Explained by: Log GDP per capita              153 non-null float64
Explained by: Social support                  153 non-null float64
Explained by: Healthy life expectancy         153 non-null float64
Explained by: Freedom to make life choices    153 non-null float64
Explained by: Generosity                      153 non-null float64
Explained by: Perceptions of corruption       153 non-null float64
Dystopia + residual                           153 non-null float64
dtypes: float64(18), object(2)
memory usage: 24.0+ KB

In [4]:
hp20.groupby('Regional indicator')['Country name'].count()

Regional indicator
Central and Eastern Europe            17
Commonwealth of Independent States    12
East Asia                              6
Latin America and Caribbean           21
Middle East and North Africa          17
North America and ANZ                  4
South Asia                             7
Southeast Asia                         9
Sub-Saharan Africa                    39
Western Europe                        21
Name: Country name, dtype: int64

In [5]:
hp21.groupby('Regional indicator')['Country name'].count()

Regional indicator
Central and Eastern Europe            17
Commonwealth of Independent States    12
East Asia                              6
Latin America and Caribbean           20
Middle East and North Africa          17
North America and ANZ                  4
South Asia                             7
Southeast Asia                         9
Sub-Saharan Africa                    36
Western Europe                        21
Name: Country name, dtype: int64

In [6]:
hp15.groupby('Region')['Country'].count()

Region
Australia and New Zealand           2
Central and Eastern Europe         29
Eastern Asia                        6
Latin America and Caribbean        22
Middle East and Northern Africa    20
North America                       2
Southeastern Asia                   9
Southern Asia                       7
Sub-Saharan Africa                 40
Western Europe                     21
Name: Country, dtype: int64

In [7]:
hp16.groupby('Region')['Country'].count()

Region
Australia and New Zealand           2
Central and Eastern Europe         29
Eastern Asia                        6
Latin America and Caribbean        24
Middle East and Northern Africa    19
North America                       2
Southeastern Asia                   9
Southern Asia                       7
Sub-Saharan Africa                 38
Western Europe                     21
Name: Country, dtype: int64

2021-2020, 2016-2015 끼리 데이터가 같음

In [8]:
hp15['Year'] = 2015
hp16['Year'] = 2016
hp15 = hp15.drop('Standard Error', axis=1)
hp16 = hp16.drop(['Lower Confidence Interval', 'Upper Confidence Interval'], axis=1)
data1516 = pd.concat([hp15, hp16])
data1516.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 315 entries, 0 to 156
Data columns (total 12 columns):
Country                          315 non-null object
Region                           315 non-null object
Happiness Rank                   315 non-null int64
Happiness Score                  315 non-null float64
Economy (GDP per Capita)         315 non-null float64
Family                           315 non-null float64
Health (Life Expectancy)         315 non-null float64
Freedom                          315 non-null float64
Trust (Government Corruption)    315 non-null float64
Generosity                       315 non-null float64
Dystopia Residual                315 non-null float64
Year                             315 non-null int64
dtypes: float64(8), int64(2), object(2)
memory usage: 32.0+ KB

In [9]:
hp20['Year'] = 2020
hp21['Year'] = 2021

data2021 = pd.concat([hp20, hp21])
data2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 148
Data columns (total 21 columns):
Country name                                  302 non-null object
Regional indicator                            302 non-null object
Ladder score                                  302 non-null float64
Standard error of ladder score                302 non-null float64
upperwhisker                                  302 non-null float64
lowerwhisker                                  302 non-null float64
Logged GDP per capita                         302 non-null float64
Social support                                302 non-null float64
Healthy life expectancy                       302 non-null float64
Freedom to make life choices                  302 non-null float64
Generosity                                    302 non-null float64
Perceptions of corruption                     302 non-null float64
Ladder score in Dystopia                      302 non-null float64
Explained by: Log GDP per capita              302 non-null float64
Explained by: Social support                  302 non-null float64
Explained by: Healthy life expectancy         302 non-null float64
Explained by: Freedom to make life choices    302 non-null float64
Explained by: Generosity                      302 non-null float64
Explained by: Perceptions of corruption       302 non-null float64
Dystopia + residual                           302 non-null float64
Year                                          302 non-null int64
dtypes: float64(18), int64(1), object(2)
memory usage: 51.9+ KB

In [10]:
data2021.to_csv('happiness2021.csv', index=False)
data1516.to_csv('happiness1516.csv', index=False)

In [11]:
data2021[data2021['Regional indicator']=='Southeast Asia']['Country name']

30       Singapore
51     Philippines
53        Thailand
81        Malaysia
82         Vietnam
83       Indonesia
103           Laos
105       Cambodia
132        Myanmar
31       Singapore
53        Thailand
60     Philippines
78         Vietnam
80        Malaysia
81       Indonesia
99            Laos
113       Cambodia
125        Myanmar
Name: Country name, dtype: object

In [12]:
data1516[data1516['Region']=='Southeastern Asia']['Country']

23       Singapore
33        Thailand
60        Malaysia
73       Indonesia
74         Vietnam
89     Philippines
98            Laos
128        Myanmar
144       Cambodia
21       Singapore
32        Thailand
46        Malaysia
78       Indonesia
81     Philippines
95         Vietnam
101           Laos
118        Myanmar
139       Cambodia
Name: Country, dtype: object

#### 대륙 이름 다른 것 비교
|2021|1516|
|---|---|
|North America and ANZ|North America, Australia and New Zealand|
|Middle East and North Africa|Middle East and Northern Africa|
|East Asia|Eastern Asia|
|Southeast Asia|Southeastern Asia|
|South Asia|Southern Asia|

- 최근 것으로 변경?

In [13]:
data1516.loc[data1516['Region']=='North America', 'Region'] = 'North America and ANZ'
data1516.loc[data1516['Region']=='Australia and New Zealand', 
             'Region'] = 'North America and ANZ'
data1516.loc[data1516['Region']=='Middle East and Northern Africa', 
             'Region'] = 'Middle East and North Africa'
data1516.loc[data1516['Region']=='Eastern Asia', 'Region'] = 'East Asia'
data1516.loc[data1516['Region']=='Southeastern Asia', 'Region'] = 'Southeast Asia'
data1516.loc[data1516['Region']=='Southern Asia', 'Region'] = 'South Asia'
data1516.groupby('Region')['Country'].count()

Region
Central and Eastern Europe      58
East Asia                       12
Latin America and Caribbean     46
Middle East and North Africa    39
North America and ANZ            8
South Asia                      14
Southeast Asia                  18
Sub-Saharan Africa              78
Western Europe                  42
Name: Country, dtype: int64

In [14]:
data2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 148
Data columns (total 21 columns):
Country name                                  302 non-null object
Regional indicator                            302 non-null object
Ladder score                                  302 non-null float64
Standard error of ladder score                302 non-null float64
upperwhisker                                  302 non-null float64
lowerwhisker                                  302 non-null float64
Logged GDP per capita                         302 non-null float64
Social support                                302 non-null float64
Healthy life expectancy                       302 non-null float64
Freedom to make life choices                  302 non-null float64
Generosity                                    302 non-null float64
Perceptions of corruption                     302 non-null float64
Ladder score in Dystopia                      302 non-null float64
Explained by: Log GDP per capita              302 non-null float64
Explained by: Social support                  302 non-null float64
Explained by: Healthy life expectancy         302 non-null float64
Explained by: Freedom to make life choices    302 non-null float64
Explained by: Generosity                      302 non-null float64
Explained by: Perceptions of corruption       302 non-null float64
Dystopia + residual                           302 non-null float64
Year                                          302 non-null int64
dtypes: float64(18), int64(1), object(2)
memory usage: 51.9+ KB

In [15]:
data2021 = data2021[['Year', 'Regional indicator', 'Country name', 'Ladder score', 
                     'Explained by: Log GDP per capita', 'Explained by: Social support',
                     'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices',
                     'Explained by: Generosity', 'Explained by: Perceptions of corruption']].copy()
data2021.head()

,Year,Regional indicator,Country name,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,2020,Western Europe,Finland,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,2020,Western Europe,Denmark,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,2020,Western Europe,Switzerland,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,2020,Western Europe,Iceland,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,2020,Western Europe,Norway,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

'Year', 'Region', 'Country', 'Score', 'Economy', 'Social', 
'Health', 'Freedom', 'Generosity', 'Corruption'

In [16]:
col = ['Year', 'Region', 'Country', 'Score', 'Economy', 'Social', 
       'Health', 'Freedom', 'Generosity', 'Corruption']
data2021.columns = col
data2021.head()

,Year,Region,Country,Score,Economy,Social,Health,Freedom,Generosity,Corruption
0,2020,Western Europe,Finland,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,2020,Western Europe,Denmark,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,2020,Western Europe,Switzerland,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,2020,Western Europe,Iceland,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,2020,Western Europe,Norway,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [17]:
data2021.to_csv('happiness2021_2.csv', index=False)

In [18]:
data1516.head()

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015

In [19]:
data1516 = data1516[['Year', 'Region', 'Country', 'Happiness Score', 
                     'Economy (GDP per Capita)', 'Family', 
                     'Health (Life Expectancy)', 'Freedom', 
                      'Generosity', 'Trust (Government Corruption)']]
data1516.head()

,Year,Region,Country,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,2015,Western Europe,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Western Europe,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Western Europe,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Western Europe,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,North America and ANZ,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [20]:
data1516.columns = col
data1516.head()

,Year,Region,Country,Score,Economy,Social,Health,Freedom,Generosity,Corruption
0,2015,Western Europe,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Western Europe,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Western Europe,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Western Europe,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,North America and ANZ,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [21]:
data1516.to_csv('happiness1516_2.csv', index=False)

In [22]:
data_reg = pd.concat([data1516, data2021])

In [23]:
data_reg.head()

,Year,Region,Country,Score,Economy,Social,Health,Freedom,Generosity,Corruption
0,2015,Western Europe,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Western Europe,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Western Europe,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Western Europe,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,North America and ANZ,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [24]:
data_reg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 617 entries, 0 to 148
Data columns (total 10 columns):
Year          617 non-null int64
Region        617 non-null object
Country       617 non-null object
Score         617 non-null float64
Economy       617 non-null float64
Social        617 non-null float64
Health        617 non-null float64
Freedom       617 non-null float64
Generosity    617 non-null float64
Corruption    617 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 53.0+ KB

In [25]:
data_reg.to_csv('hapiness15162021')

In [26]:
hp17 = pd.read_csv('data/2017.csv')
hp18 = pd.read_csv('data/2018.csv')
hp19 = pd.read_csv('data/2019.csv')

In [27]:
hp18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
Overall rank                    156 non-null int64
Country or region               156 non-null object
Score                           156 non-null float64
GDP per capita                  156 non-null float64
Social support                  156 non-null float64
Healthy life expectancy         156 non-null float64
Freedom to make life choices    156 non-null float64
Generosity                      156 non-null float64
Perceptions of corruption       155 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [28]:
hp19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
Overall rank                    156 non-null int64
Country or region               156 non-null object
Score                           156 non-null float64
GDP per capita                  156 non-null float64
Social support                  156 non-null float64
Healthy life expectancy         156 non-null float64
Freedom to make life choices    156 non-null float64
Generosity                      156 non-null float64
Perceptions of corruption       156 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.0+ KB

In [29]:
hp19['Year'] = 2019
hp18['Year'] = 2018

data1819 = pd.concat([hp18, hp19])
data1819.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312 entries, 0 to 155
Data columns (total 10 columns):
Overall rank                    312 non-null int64
Country or region               312 non-null object
Score                           312 non-null float64
GDP per capita                  312 non-null float64
Social support                  312 non-null float64
Healthy life expectancy         312 non-null float64
Freedom to make life choices    312 non-null float64
Generosity                      312 non-null float64
Perceptions of corruption       311 non-null float64
Year                            312 non-null int64
dtypes: float64(7), int64(2), object(1)
memory usage: 26.8+ KB

In [30]:
hp17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
Country                          155 non-null object
Happiness.Rank                   155 non-null int64
Happiness.Score                  155 non-null float64
Whisker.high                     155 non-null float64
Whisker.low                      155 non-null float64
Economy..GDP.per.Capita.         155 non-null float64
Family                           155 non-null float64
Health..Life.Expectancy.         155 non-null float64
Freedom                          155 non-null float64
Generosity                       155 non-null float64
Trust..Government.Corruption.    155 non-null float64
Dystopia.Residual                155 non-null float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.6+ KB

In [31]:
def add_reg(df, col, reg_data):
    match_continent = {}
    for name in df[col]:
        tmp = reg_data[reg_data['Country']==name]['Region'].tolist()
        if len(tmp):
            match_continent[name] = tmp[0]
    
    match_df = pd.DataFrame.from_dict(match_continent, 
                                      orient='index', 
                                      columns=['Region'])
    match_df = match_df.reset_index().rename(columns={'index':col})
    merged_df = pd.merge(df, match_df, on=[col], how='left')
    return merged_df

In [32]:
data_reg.head()

,Year,Region,Country,Score,Economy,Social,Health,Freedom,Generosity,Corruption
0,2015,Western Europe,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Western Europe,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Western Europe,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Western Europe,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,North America and ANZ,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [33]:
hp17['Year'] = 2017
data17 = add_reg(hp17, 'Country', data_reg)
data17.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year,Region
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,Western Europe
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,Western Europe
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017,Western Europe
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017,Western Europe
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017,Western Europe

In [34]:
data17 = data17[['Year', 'Region', 'Country', 'Happiness.Score', 
               'Economy..GDP.per.Capita.', 'Family','Health..Life.Expectancy.', 
               'Freedom', 'Generosity', 'Trust..Government.Corruption.']].copy()
data17.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 10 columns):
Year                             155 non-null int64
Region                           154 non-null object
Country                          155 non-null object
Happiness.Score                  155 non-null float64
Economy..GDP.per.Capita.         155 non-null float64
Family                           155 non-null float64
Health..Life.Expectancy.         155 non-null float64
Freedom                          155 non-null float64
Generosity                       155 non-null float64
Trust..Government.Corruption.    155 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 13.3+ KB

In [35]:
data17[data17['Region'].isnull()]['Country']

70    Hong Kong S.A.R., China
Name: Country, dtype: object

In [36]:
data17.loc[70, 'Country'] = 'Hong Kong'
reg = data_reg[data_reg['Country']=='Hong Kong']['Region'].unique()[0]
data17.loc[70, 'Region'] = reg
data17.loc[70]

Year                                  2017
Region                           East Asia
Country                          Hong Kong
Happiness.Score                      5.472
Economy..GDP.per.Capita.           1.55167
Family                             1.26279
Health..Life.Expectancy.          0.943062
Freedom                           0.490969
Generosity                        0.374466
Trust..Government.Corruption.     0.293934
Name: 70, dtype: object

In [37]:
data17.columns = col
data17.head()

,Year,Region,Country,Score,Economy,Social,Health,Freedom,Generosity,Corruption
0,2017,Western Europe,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,2017,Western Europe,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,2017,Western Europe,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,2017,Western Europe,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,2017,Western Europe,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [38]:
data1819.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018

In [39]:
data1819 = add_reg(data1819, 'Country or region', data_reg)
data1819.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,Western Europe

In [40]:
data1819 = data1819[['Year', 'Region', 'Country or region', 'Score', 
                     'GDP per capita', 'Social support',
                     'Healthy life expectancy', 
                     'Freedom to make life choices', 'Generosity', 
                     'Perceptions of corruption']].copy()
data1819.head()

,Year,Region,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,2018,Western Europe,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2018,Western Europe,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,2018,Western Europe,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,2018,Western Europe,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,2018,Western Europe,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [41]:
data1819.columns = col
data1819[data1819['Region'].isnull()]['Country']

37     Trinidad & Tobago
57       Northern Cyprus
194    Trinidad & Tobago
219      Northern Cyprus
Name: Country, dtype: object

In [42]:
data1819.loc[data1819['Country']=='Trinidad & Tobago', 
             'Country'] = 'Trinidad and Tobago'
data1819.loc[data1819['Country']=='Northern Cyprus', 
             'Country'] = 'North Cyprus'

tt = data_reg[data_reg['Country']=='Trinidad and Tobago']['Region'].unique()[0]
data1819.loc[data1819['Country']=='Trinidad and Tobago', 
             'Region'] = tt

nc = data_reg[data_reg['Country']=='North Cyprus']['Region'].unique()[0]
data1819.loc[data1819['Country']=='North Cyprus', 'Region'] = nc

data1819[data1819['Region'].isnull()]['Country']

Series([], Name: Country, dtype: object)

In [43]:
data1819.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312 entries, 0 to 311
Data columns (total 10 columns):
Year          312 non-null int64
Region        312 non-null object
Country       312 non-null object
Score         312 non-null float64
Economy       312 non-null float64
Social        312 non-null float64
Health        312 non-null float64
Freedom       312 non-null float64
Generosity    312 non-null float64
Corruption    311 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 26.8+ KB

In [44]:
data1719 = pd.concat([data17, data1819])
data1719.head()

,Year,Region,Country,Score,Economy,Social,Health,Freedom,Generosity,Corruption
0,2017,Western Europe,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,2017,Western Europe,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,2017,Western Europe,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,2017,Western Europe,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,2017,Western Europe,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [45]:
data1719.to_csv('hapiness171819')

In [46]:
data = pd.concat([data1719, data_reg])

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 148
Data columns (total 10 columns):
Year          1084 non-null int64
Region        1084 non-null object
Country       1084 non-null object
Score         1084 non-null float64
Economy       1084 non-null float64
Social        1084 non-null float64
Health        1084 non-null float64
Freedom       1084 non-null float64
Generosity    1084 non-null float64
Corruption    1083 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 93.2+ KB

In [48]:
data.loc[data['Country']=='Taiwan Province of China', 
         'Country'] = 'Taiwan'

In [49]:
data.loc[data['Country']=='Hong Kong S.A.R. of China', 
         'Country'] = 'Hong Kong'

In [50]:
data.loc[data['Country']=='Somaliland region', 
         'Country'] = 'Somalia'

In [51]:
data.loc[data['Country']=='Somaliland Region', 
         'Country'] = 'Somalia'

In [52]:
data.loc[data['Country']=='North Macedonia', 
         'Country'] = 'Macedonia'

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 148
Data columns (total 10 columns):
Year          1084 non-null int64
Region        1084 non-null object
Country       1084 non-null object
Score         1084 non-null float64
Economy       1084 non-null float64
Social        1084 non-null float64
Health        1084 non-null float64
Freedom       1084 non-null float64
Generosity    1084 non-null float64
Corruption    1083 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 93.2+ KB

In [54]:
data[data['Corruption'].isnull()]['Country']

19    United Arab Emirates
Name: Country, dtype: object

In [55]:
cop = data[data['Country']=='United Arab Emirates']['Corruption'].mean()
data['Corruption'] = data['Corruption'].fillna(cop)

In [56]:
data[data['Corruption'].isnull()]['Country']

Series([], Name: Country, dtype: object)

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 148
Data columns (total 10 columns):
Year          1084 non-null int64
Region        1084 non-null object
Country       1084 non-null object
Score         1084 non-null float64
Economy       1084 non-null float64
Social        1084 non-null float64
Health        1084 non-null float64
Freedom       1084 non-null float64
Generosity    1084 non-null float64
Corruption    1084 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 93.2+ KB

In [58]:
data.to_csv('Happiness1521.csv', index=False)